<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home - <%= user.username %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-items user">
            <%= user.name %>
        </div>
        <div class="nav-items options">
            <a class="user go-back" href="/create"> <i class="fa-regular fa-pen-to-square"></i> Create post</a>
            <div class="menu-container">
                <div>
                    <i class="fa-solid fa-bars hamburger-button" onclick="toggleMenu()"></i>
                </div>
                <div class="menu-dropdown ham-dropdown" id="menu">
                    <a href="/account">Account</a>
                    <a id="home-logout" href="#">Log out</a>
                </div>
            </div>
        </div>
    </nav>


    <section>
        <div class="main-cont">
            <div class="posts">
                <%if(posts.length==0) {%>
                <p class="sub-heading">No posts yet.</p>
                <%} else { %>
                <%posts.reverse().forEach(function(element) { %>
                <div class="post">
                    <h5 class="content user-name">@<%=element.user.username%>
                    </h5>

                    <p class="content">
                        <%=element.content%>
                    </p>
                    <% const date=element.date; %>
                    <% const dateObj=new Date(date); %>
                    <% const options={ hour: "2-digit" , minute: "2-digit" , hour12: true,
                                            timeZone: "Asia/Kolkata" }; %>
                    <% const formattedTime=dateObj.toLocaleTimeString("en-US", options); %>
                    <% const shortDayName=dateObj.toLocaleDateString("en-US",
                                                    {weekday: "short" }); %>

                    <div class="likeNtime" style="padding: 0px 10px 0px 0px;">
                        <a onclick="likePost('<%= element._id %>', '<%= user._id %>')" href="#" class="likeNheart">
                            <% if(element.likes.includes(user._id)) { %>
                            <i id="heart-<%= element._id %>" class="fa-solid fa-heart red"></i>
                            <% } else { %>
                            <i id="heart-<%= element._id %>" class="fa-solid fa-heart"></i>
                            <% } %>
                            <p id="likes-<%= element._id %>" class="like-count">
                                <%=element.likes.length%>
                            </p>
                        </a>

                        <a href="/comment/<%= element._id%>" class="likeNheart">
                            <i class="fa-solid fa-comment"></i>
                            <p id="comments-<%= element._id %>" class="like-count">
                                <%=element.comments.length%>
                            </p>
                        </a>

                        <p class="dateNtime">
                            <%= shortDayName.toUpperCase() %>, <%=formattedTime%>
                        </p>
                    </div>

                </div>
                <%})%>
                <%}%>
            </div>
        </div>
    </section>

    <div id="logout" class="modal">
        <div class="modal-content alert1">
            <h3>Are you sure you want to log out?</h3>
            <div class="btns">
                <input id="cancelBtn" style="background-color: rgba(79, 100, 131, 0.2);" class="submit-form post-submit"
                    type="submit" value="Cancel"></input>
                <input id="logoutBtn" style="background-color: rgba(200, 0, 0, 0.9);" onclick=""
                    class="submit-form post-submit" type="submit" value="Log out"></input>
            </div>
        </div>
    </div>

    <script>
        const logout = document.getElementById("logout");
        const logoutLink = document.getElementById("home-logout");
        const cancelBtn = document.getElementById("cancelBtn");
        const logoutBtn = document.getElementById("logoutBtn");

        logoutLink.addEventListener("click", (event) => {
            logout.style.display = "block";
        });
        cancelBtn.addEventListener("click", (event) => {
            logout.style.display = "none";
        });
        window.addEventListener("click", (e) => {
            if (e.target === logout) {
                logout.style.display = "none";
            }
        });
        logoutBtn.addEventListener("click", (event) => {
            document.location.replace('/logout');
        });

        function toggleMenu(e) {
            event.stopPropagation();
            closeAllMenus(); // Close other menus before opening the new one

            let menuContainer = event.target.closest(".menu-container");
            let dropdown = menuContainer.querySelector(".menu-dropdown");
            dropdown.classList.toggle("show");
        }
        function closeAllMenus() {
            document.querySelectorAll(".menu-dropdown").forEach(menu => {
                menu.classList.remove("show");
            });
        }
        document.addEventListener("click", function (event) {
            closeAllMenus();
        });

        // Like Unlike functionality
        async function likePost(postId, userId) {
            event.preventDefault();
            const response = await fetch(`/like/${postId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ userId })
            });

            const data = await response.json();
            if (response.ok) {
                if (data.message === "liked") {
                    console.log(document.getElementById(`heart-${postId}`));
                    document.getElementById(`likes-${postId}`).textContent = data.likes;
                    document.getElementById(`heart-${postId}`).classList.add("red");
                    console.log(document.getElementById(`heart-${postId}`));

                } else {
                    document.getElementById(`likes-${postId}`).textContent = data.likes;
                    document.getElementById(`heart-${postId}`).classList.remove("red");
                }
            }
        }

    </script>
</body>

</html>